body {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1em;
}

article > h2 {
  margin-bottom: 5px;
  font-weight: 300;
}

article .summary {
  margin-top: 0.3em;
  max-height: 6em;
  max-height: 5lh;
  overflow: hidden;
}

article .summary > * {
  overflow-x: scroll;
}

#more {
  text-align: center;
  cursor: pointer;
}

img.icon {
  width: 1em;
  display: inline-block;
}

article .meta {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

article .meta a.site {
  margin-left: 4px;
  margin-right: 8px;
}

article .meta time {
  flex: 1;
  background-color: transparent;
  color: gray;
}

#alert {
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  align-items: center;
  display: none;
}

#alert span {
  flex: 1;
  color: red;
}

#alert a {
  margin: 5px;
}
