body {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1em;
}

article .summary {
  font-family: serif;
  margin-top: 0.3em;
  max-height: 6em;
  max-height: 5lh;
  overflow: hidden;
}

article .summary > * {
  overflow-x: scroll;
}

article {
  border-bottom: 1px dashed;
}

a.link {
  display: inline-block;
  padding: 0.5em 0;
}

#more {
  text-align: center;
  cursor: pointer;
}

img.icon {
  width: 1em;
  display: inline-block;
}

article > .meta {
  vertical-align: middle;
}
